<div>
    <h1>LOG IN TO PLAY</h1>

    <form>
        <label for="username">Username:</label>
        <input type="text">
        <label for="username">Password:</label>
        <input type="text">
    </form>
    
    <button class="login" type="button"><b>Log In</b></button>
    <button class="makeAccount" type="button"><b>Make an Account</b></button>
</div>