<html lang="en-us">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/temp.css" />
    <title>Homepage</title>
  </head>

  <body>
    {{#if logged_in}}
      <div>
        <nav class="navbar">
          <button id="home-btn" type="button">HOME</button>
          <button id="hs-btn" type="button">High Scores</button>
          <button id="usr-srch" type="button">User Search</button>
          <button id="act-btn" type="button">Account</button>
          <button id="lgt-btn" type="button">Logout</button>
        </nav>
      </div>
    {{/if}}
    <div class="header">
      <h2>Hello! Welcome to our game!</h2>
    </div>
    {{{body}}}
    <div class="content">
      <h5>The game will go here.</h5>
    </div>

    <div class="footer">
      <h6>Made by Group 4</h6>
    </div>
    {{#if logged_in}}
      <script src="/js/navbar.js"></script>
    {{/if}}
  </body>
</html>