<html lang="en-us">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/temp.css" />
    <title>Homepage</title>
  </head>

  <body>
    <div class="header">
      <h2>Hello! Welcome to our game!</h2>
    </div>
    {{{body}}}
    <div class="content">
      <h5>The game will go here.</h5>
    </div>

    <div class="footer">
      <h6>Made by Group 4</h6>
    </div>
  </body>
</html>