<div class="container">
    <h1>New Account</h1>

    <form class="form">
        <label class="firstName" for="firstName">FirstName:</label>
        <input type="text">
        <label class="lastName" for="lastName">LastName</label>
        <input type="text">
        <label class="username" for="username">Username:</label>
        <input type="text">
        <label class="password" for="password">Password:</label>
        <input type="text">
    </form>
    {{!-- Login button --}}
    <a href="./hompageloggedin.handlebars">
    <button class="login" type="button"><b>Create Account</b></button></a>
</div>