<div class="container">
        <div id="hs-card" class="card-body row row-cols-2">
            <h1 class="highScores">HIGHSCORES</h1>
            <div class="hsList">
                {{#if scores.length}}
                <ol id="hs-ol">
                    {{#each scores as |score|}}
                    {{> highscorespartial}}
                    {{/each}}
                </ol>
                {{else}}
                <p>No high scores to display yet!!!</p>

                {{/if}}
            </div>
        </div>
</div>