<div class="container">
    <h1>LOG IN TO PLAY</h1>

    <form class="login-form">
        <label class="username" for="username">Username:</label>
        <input id="username-login" type="text">
        <label class="password" for="password">Password:</label>
        <input id="password-login"type="password"> 
        <button class="login" type="submit"><b>Log In</b></button></a>
    </form>
    {{!-- Login button --}}
   
    {{!-- Make account button --}}
    <button class="makeAccount" type="button"><b>Make an Account</b></button></a>
</div>
<script src="/js/login.js"></script>