<div class="body">
  <container id="gameBackground">
    <div>
      <style>
        canvas { height: auto; margin: 15; } canvas { background: black;
        display: flex; align-items: center; justify-content: center; } canvas {
        border: 2px solid #0FAC16; }
      </style>
      <canvas width="400px" height="400px" id="game"></canvas>
    </div>
    <button id="start">Start Game</button>
    <select id="difficulty">
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <p id="score"></p>
    <button id="saveScore" style="display:none">Save Score</button>
  </container>
</div>

<script src="/js/game.js"></script>