<div class="card-background">
  <h3 class="logInHeader">LOG IN TO PLAY</h3>

  <form class="login-form">
    <div id="userForm" class="">
      <div class="usernameInput">
        <label class="username" for="username">Username:</label>
        <input id="username-login" type="text">
      </div>
      <div id="userForm" class="">
        <label class="password" for="password">Password:</label>
        <input id="password-login" type="password">
      </div>
      <div id="loginButton" class="">
        <button class="login" type="submit">Log In</button></a>
      </div>
    </div>
  </form>
  <button id="make-acct" class="" type="button">Make an Account</button></a>
</div>
<script src="/js/login.js"></script>