<head>
  <script
    src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"
  ></script>
</head>
<div class="card-background">
  <h3 class="logInHeader">LOG IN TO PLAY</h3>
  <script>
    anime({ targets: ".logInHeader", loop: true, color: ["#000000", "#EDF538"],
    duration: 1200, delay: 4000, });
  </script>

  <form class="login-form">
    <div class="usernameInput">
      <label class="username" for="username">Username:</label>
      <input id="username-login" type="text" />
    </div>
    <div id="userForm" class="">
      <label class="password" for="password">Password:</label>
      <input id="password-login" type="password" />
    </div>
    <div id="loginButton" class="">
      <button class="login" type="submit">Log In</button>
    </div>
  </form>
  <button id="make-acct" class="" type="button">Make an Account</button>
</div>
<script src="/js/login.js"></script>