<div class="body">
  <container id="gameBackground">
    <style id="game">
      canvas { height: auto; margin: 15; } canvas { background: black; display:
      flex; align-items: center; justify-content: center; } canvas { border: 1px
      solid white; }
    </style>
    <canvas width="400px" height="400px" id="game"></canvas>
    <button id="start">Start Game</button>
    <select id="difficulty">
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <p>Your Score: <span id="score"></span></p>
    <button id="saveScore" style="display:none">Save Score</button>
  </container>
</div>

<script src="/js/game.js"></script>