<div>
    <h3 class="logInHeader">LOG IN TO PLAY</h3>

    <form class=" row g-3 login-form">
      <div class="col-md-6">
        <label class="username" for="username">Username:</label>
        <input id="username-login" type="text">
        </div>
        <div class="col-md-3 center">
        <label class="password" for="password">Password:</label>
        <input id="password-login"type="password"> 
        </div>
        <div class="col-12">
        <button class="login" type="submit"><b>Log In</b></button></a>
        </div>
        </div>
    </form>
    <button id="make-acct" class="makeAccount" type="button"><b>Make an Account</b></button></a>
</div>
<script src="/js/login.js"></script>