<div class="container">
    <h1>LOG IN TO PLAY</h1>

    <form class="login-form">
        <label class="username" id="username-login" for="username">Username:</label>
        <input type="text">
        <label class="password" id="password-login" for="password">Password:</label>
        <input type="text">
    </form>
    {{!-- Login button --}}
    <a href="./hompageloggedin.handlebars">
    <button class="login" type="button"><b>Log In</b></button></a>
    {{!-- Make account button --}}
    <a href="./makeaccount.handlebars">
    <button class="makeAccount" type="button"><b>Make an Account</b></button></a>
</div>
