<form id="signup-form" class="row g-3">
    <h1>New Account</h1>
      <div class="col-md-6">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="fr-nm">
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="ls-nm">
  </div>
  </div>
  <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="usr-nm">
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="pswd">
  </div>
  </div>
  <div class="col-12">
    <a href="./hompageloggedin.handlebars">
    <button type="button" class="btn btn-primary" id="login">Create Account</button></a>
  </div>
</form>
<script src="/js/signup.js"></script>