<div class="container">
  <h1>New Account</h1>

  <form id="signup-form" class="form">
    <label class="firstName" for="firstName">FirstName:</label>
    <input type="text" id="fr-nm"/>
    <label class="lastName" for="lastName">LastName</label>
    <input type="text" id="ls-nm"/>
    <label class="username" for="username">Username:</label>
    <input type="text" id="usr-nm"/>
    <label class="password" for="password">Password:</label>
    <input type="password" id="pswd"/>
    <button class="login" type="submit"><b>Create Account</b></button></a>
  </form>
</div>
<script src="/js/signup.js"></script>