<div class="container">
    <h1>New Account</h1>

    <form class="signup-form">
        <label class="firstName" for="firstName" id="first_name-signup">FirstName:</label>
        <input type="text">
        <label class="lastName" for="lastName" id="last_name-signup">LastName</label>
        <input type="text">
        <label class="username" for="username" id="username-signup">Username:</label>
        <input type="text">
        <label class="password" for="password" id="password-signup">Password:</label>
        <input type="text">
    </form>
    {{!-- Login button --}}
    <a href="./hompageloggedin.handlebars">
    <button class="login" type="button"><b>Create Account</b></button></a>
</div>