<div id="usersearchCard" class="card center">
  <h3 id="srch-hdr">Search for friends:</h3>
  <form id="user-search-form">
    <label id="srch-dir" class="lookup" for="username">Type first name, last
      name, or username in field below</label>
    <input id="usf-input" type="text" />
    <button class="search" class="btn btn-primary" type="submit">Search</button>
  </form>
</div>
<script src="/js/usersearch.js"></script>