<div class="card-background">
  <div id="usersearchCard" class="card center">
    <h3>Search for friends:</h3>
    <div id="searchBkgrnd" class="card text-center">
      <form id="user-search-form">
        <label class="lookup" for="username">type name or username in field
          below</label>
        <input id="usf-input" type="text" />
        <button
          class="search"
          class="btn btn-primary"
          type="submit"
        >Search</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/usersearch.js"></script>