<div class="card text-center">
  <h3 class="card-header">Search for friends:</h3>
  <div class="card-body">
     <label class="lookup" for="username">type name or username in field below</label>
        <input type="text">
    <a href="./usernameinfopage.handlebars" id="search" class="btn btn-primary">Search</a>
  </div>
</div>
