<div class="container">
  <h1>Search for friends:</h1>
  <form id="user-search-form">
    <label class="lookup" for="username">type name or username in field below</label>
    <input id="usf-input" type="text" />
    <button class="search" type="submit"><b>Search</b></button>
  </form>
</div>
<script src="/js/usersearch.js"></script>