<div class="container">
    <h1>Search for friends:</h1>

    <label class="lookup" for="username">type name or username in field below</label>
        <input type="text">

     <a href="./usernameinfopage.handlebars">
    <button class="search" type="button"><b>Search</b></button></a>
</div>